
            body{
                font-family:  sans-serif;
                background-image: url(../images/bats.gif);
                }
            .box{
                width: 800px;
                height: 760px;
                background-color: white;
                margin: 20px;
                margin: 0 auto;
                border: #000000;
		border-style: solid;
		box-shadow: 5px 10px 18px #000000;
            }
            .upper{
                width: 800px;
                border-top: none;
		        border-bottom: 2px solid rgb(0, 0, 0);
		        box-shadow: none;		
            background-image: linear-gradient(to right,  white, orange, rgb(0, 0, 0));
              
            }
              .bot{
		        width: 800px;
                bottom: -125px;
                 height: 40px;
                position: absolute;
                border-bottom: none;
		        border-top: 2px solid rgb(0, 0, 0);
		        box-shadow: none;
		        background-image: linear-gradient(to left,  white, orange, rgb(0, 0, 0));
	  }

      footer{
        text-align: center;
        line-height: 34px;
      }
            .pic{
                width: 70px;
                margin: 10px;
                float: left;
                padding-right: 25px;
            }
            .one {
                margin-top: auto;
                padding-top: 10px;
                }
            .text{
                margin-top: -20px;
            }
            ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

 ul[class="top"] li {
  float: left;
  width:160px;
  height:40px;
  background-color: rgb(0, 0, 0);

  line-height: 40px;
  text-align: center;

}
ul li a:hover{

  background-color: grey;
  }

ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
ul li a:hover{ 
	color:rgb(255, 255, 255);

}
ul li ul li{
	display: none;
}
ul li:hover ul li{
	display: block;
}


ul[class="bottom"]{
  list-style-type: none;
  margin: 0;
  padding: 5px;
  
}

ul[class="bottom"] li {
  width:150px;
  height:40px;
  background-color: orange;
  
  line-height: 40px;
  text-align: center;
  margin: 5px;
  border: 3px solid black;
}
ul[class="bottom"] li a{
	text-decoration: none;
	color: black;
	display: block;
  background-color: transparent;
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  
}


#content-wrapper{
      display:table;
    }
    
    #content{
      display:table-row;
    }
    
    #content>div{
      display:table-cell
    }
    
    
    #content-wrapper{
      width:800px;
      height: 600px;
    
      top:0px;
      left:0px;
    
    }
    #nav{
      width:200px;
      /* background:yellow; */
    }

   
    #body{
      background:white;
      padding: 20px;
    }


      .r2 {
        left:20px;
    text-align: center;
       
		
      }

      table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
   
  text-align: left;
  padding: 8px;
}
 .col{
    background-color: #f4d491;
    text-align: right;
  }
  
  .underl{
  text-decoration: underline;
  
  }
.grey{
  color:grey;
}

#act{
color:orange !important;
}

.h:hover{
  color:green;
  cursor: pointer;
}




